<div class="perfil-area">
    <form action="">
        <div>
            <label for="nome">Nome</label><br>
            <input type="text" id="nome" name="nome" [disabled]="!edit" [(ngModel)]="user.nome">
        </div>
        <div>
            <label for="email">Email</label><br>
            <input type="text" id="email" name="email" [disabled]="!edit" [(ngModel)]="user.sobrenome">
        </div>
        <div>
            <label for="senha">Senha</label><br>
            <input type="password" id="senha" name="senha" [disabled]="!edit" [(ngModel)]="user.senha">
        </div>
        <div>
            <label for="nascimento">Nascimento</label><br>
            <input type="date" id="nascimento" name="nascimento" [disabled]="!edit" [(ngModel)]="user.nascimento" >
        </div>
        <div>
            <label for="genero">Gênero</label><br>
            <select name="genero" [disabled]="!edit" id="genero">
                <option>Masculino</option>
                <option>Feminino</option>
            </select>
        </div>
    </form>

    <button type="button" (click)="editar()" [hidden]="edit">Editar</button>
    <button type="button" (click)="salvar()" [hidden]="!edit">Salvar</button>
</div>