.perfil-area {
    width: 50%;
    background-color: white;
    text-align: center;
    padding: 30px 0px;
    margin: auto;
    margin-top: 10px;
    border-radius: 3px;
    box-shadow: 0 0px 5px 0 #e0e0e0, 0 1px 5px 0 #e0e0e0;
}

.perfil-area form {
    width: 50%;
    margin: auto;
    text-align: left;
}

.perfil-area input, select {
    width: 100%;
    padding: 7px;
    margin-bottom: 20px;
    margin-top: 5px;
    border: none;
    border-radius: 3px;
    background-color: #e0e0e0;
}

label {
    text-align: left;
    color: #616161;
}

.perfil-area button {
    padding: 6px 20px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 3px;
    background-color: #5981e3;
    cursor: pointer;
    transition-duration: 0.3s;
}

.perfil-area button:hover {
    opacity: 0.95;
}

@media screen and (max-width: 600px) {

    .perfil-area {
        width: 90%;
    }

}