<div class="perfil-area">
    <form action="">
        <div>
            <label for="nome">Nome</label><br>
            <input type="text" id="nome" name="nome" disabled value="Carlos Eduardo">
        </div>
        <div>
            <label for="email">Email</label><br>
            <input type="text" id="email" name="email" disabled value="carloszdu@gmail.com">
        </div>
        <div>
            <label for="senha">Senha</label><br>
            <input type="password" id="senha" name="senha" disabled value="86081516">
        </div>
        <div>
            <label for="nascimento">Nascimento</label><br>
            <input type="date" id="nascimento" name="nascimento"  disabled value="11-07-1998" >
        </div>
        <div>
            <label for="genero">Gênero</label><br>
            <select name="genero" disabled id="genero">
                <option value="0">Masculino</option>
                <option value="1">Feminino</option>
            </select>
        </div>
    </form>

    <button type="button">Editar</button>
</div>