<div class="list-container">
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Email</th>
                <th>CPF</th>
                <th>Telefone</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contato of contatos">
                <td>{{ contato.nome }}</td>
                <td>{{ contato.sobrenome }}</td>
                <td>{{ contato.email }}</td>
                <td>{{ contato.cpf }}</td>
                <td>{{ contato.telefone }}</td>
            </tr>
        </tbody>
    </table>
</div>