<div class="cadastro-area">
    <div>
        <h3>Cadastro</h3>
        <hr>
    </div>
    <div>
        <input type="text" autofocus placeholder="E-mail">
    </div>
    <div>
        <input type="password" placeholder="Senha">
    </div>
    <div>
        <input type="date">
    </div>
    <div>
        <select name="genero" id="genero">
            <option value="0">Masculino</option>
            <option value="1">Feminino</option>
        </select>
    </div>
    <button type="button">Criar</button>
</div>