.cadastro-area {
    width: 100%;
    text-align: center;
    display: block;
}

.cadastro-area h3 {
    color: #616161;
    margin-top: 20px;
}

.cadastro-area hr {
    width: 40px;
    border: none;
    border-top: 2px solid #5981e3;
    margin: auto;
    margin-bottom: 10px;
}

.cadastro-area input, select {
    width: 60%;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: white;
    color: #616161;
    padding: 7px;
    margin-top: 15px;
    outline: none;
}

.cadastro-area input:focus, select:focus {
    border-bottom: 2px solid #5981e3;
}

.cadastro-area > div > p{
    width: 60%;
    margin: auto;
    color: red;
    text-align: left;
    font-size: 12px;
}

.erro{
    border-bottom: 2px solid red;
}

.certo{
    border-bottom: 2px solid #e0e0e0;
}

.cadastro-area button {
    border: none;
    border-radius: 3px;
    background-color: #5981e3;
    color: white;
    font-weight: bold;
    padding: 6px 30px;
    margin-top: 20px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.cadastro-area button:hover{
    opacity: 0.95;
}