.contatos-area {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    background-color: #fafafa;
}

.list-area {
    width: 67%;
}

.form-area{
    width: 30%;
}

.iconCloseMobile {
    top: 10px;
    right: 10px;
    font-size: 30px;
}

.icon-form {
    display: none;
    font-size: 40px;
    position: absolute;
    bottom: 40px;
    right: 30px;
    color: #5981e3;
}

/* List style*/

.list-container {
    width: 100%;
    height: 90vh;
    background-color: white;
    padding: 30px 0px;
    margin-top: 10px;
    border-radius: 3px;
    box-shadow: 0 0px 5px 0 #e0e0e0, 0 1px 5px 0 #e0e0e0;
    overflow-x:auto;
}

table{
    max-width: 100%;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

th {
    color: #5981e3;
}

td {
   color: #616161;
}

th, td {
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
    white-space: nowrap;
}

.list-container::-webkit-scrollbar {
    width: 12px;
}
  
.list-container::-webkit-scrollbar-track {
    background: #e0e0e0;
}
  
.list-container::-webkit-scrollbar-thumb {
    background-color: #5981e3;
    border-radius: 20px;
    border: 3px solid #e0e0e0;
}

@media screen and (max-width: 800px) {
    .form-area {
        display: none;
    }

    .list-area {
        width: 98%;
    }

    .icon-form {
        display: block;
    }

    .formMobile {
        width: 90%;
        display: block;
        position: absolute;
        margin: auto;
    }
    .iconCircleMobile {
        display: none;
    }
    .iconCloseMobile {
        display: block;
    }
}