<form class="login-area" [formGroup]="usuario" (ngSubmit)="onSubmit()">
    <div>
        <h3>Login</h3>
        <hr>
    </div>
    <div>
        <input type="text" placeholder="E-mail" formControlName="email" autofocus [ngClass]="aplicaCss('email')">
        <p *ngIf="!this.usuario.get('email')?.valid && this.usuario.get('email')?.touched">Email inválido</p>
    </div>
    <div>
        <input type="password" placeholder="Senha" formControlName="senha" [ngClass]="aplicaCss('senha')">
        <p *ngIf="!this.usuario.get('senha')?.valid && this.usuario.get('senha')?.touched">Campo obrigatório</p>
    </div>
    <button type="submit">Entrar</button>
</form> 