<div class="content-area">
    <div class="info-area">
        <div>
            <h3>CHRONOS</h3>
        </div>
        <div>
            <img src="../../assets/loginImage.png">
        </div>
        <button routerLink="cadastro" (click)="mudarAcessArea()" [hidden]="!mudarAcess" type="button">Cadastre-se</button>
        <button routerLink="login" (click)="mudarAcessArea()" [hidden]="mudarAcess" type="button">Login</button>
    </div>
    <div class="acess-area">
        <router-outlet></router-outlet>
    </div>
</div>